.wheel-container {
  text-align: center;
  background-color: #c9f1f6; /* Light green background color */
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

.wheel-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.wheel-container p {
  font-size: 18px;
  margin: 10px 0;
}

.wheel-container input {
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
}

.wheel-container button {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(65, 174, 150); /* Green button color */
  color: #fff;
  border: none;
  border-radius: 5px;
}

.wheel-container button:hover {
  background-color: rgb(65, 174, 150); /* Darker green color on hover */
}
